
header {
        background-color: $color-fondo;
        position: absolute;
        top: 0;
        width:100%;
        justify-content: space-around;
            h1{
                padding-top: 10px;
                padding-bottom: 10px;
                nav{
                    font-size: 40px;
                    padding: 10px;
                    background-color: $color-fondo;
                    ul{
                        li{
                            list-style: none;
                            display:inline-block;
                            margin-left: 10px;
                            padding-top: 0px;
                            a{
                                @include a;
                                }
                            }
                        }
                    }
                }
            }