
header {
        background-color: $color-fondo;
        position: absolute;
        top: 0;
        width:100%;
        justify-content: space-around;
            h1{
                padding-top: 10px;
                padding-bottom: 10px;
                nav{
                    font-size: 30px;
                    padding: 10px;
                    background-color: $color-fondo;
                    ul{
                        li{
                            list-style: none;
                            display:inline-block;
                            margin-left: 10px;
                            padding-top: 0px;
                            a{
                                text-decoration: none;
                                color: black;
                                width: 100px;
                                height: 100px;
                                padding: 10px;
                                font-size: 30 px;
                                transition: color 1s;
                                &:hover{
                                color: whitesmoke;
                                }
                            }
                        }
                    }
                }
            }
         }