main{
    h2{
        font-size: 30px;
    }
    p{
        font-size: 30px;  
        padding-left: 40px;
        padding-right: 40px;
    }
    img{
        margin: 6px;
        transition: transform 1s;
    }
} 

