main{
    h2{font-weight: bolder;
        font-size: 40px;
    }
    p{  padding-top: 0;
        font-size: 30px;  
        padding-left: 40px;
        padding-right: 40px;
    }
    img{
        margin: 6px;
        transition: transform 1s;
    }
} 

