@mixin a{
    text-decoration: none;
    color: black;
    width: 100px;
    height: 100px;
    padding: 10px;
    font-size: 30 px;
    transition: color 1s;
    &:hover{
    color: whitesmoke;
    }
 };