@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:wght@100;300;400&display=swap');
@import "./variables";
@import "./mixin";
@import "./header";
@import "./main";
@import "./footer";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%
}

body{
    font-family: roboto;
    background-image:url(../images/background-img.jpg);
    text-align: center;
    align-items: center;
    align-content: center;
    min-height: 100%;
}
.logo{
    font-family:courgette ;
    font-size: 80px;
    margin-left: 10px;
    margin-right: 10px;
}

.nav {
    width:100%;
}
.container {
    max-height: 100px;
}
.enlace-logo{
    text-decoration: none;
    color: map-get($color-logo , "color");
    transition: color 1s;
}

logo:hover{
    font-size: 80px;
    color: map-get($color-logo , "color-hover");
}
a:hover{
        background-color:$color-fondo-hover;
        color: white;
        border-color: $color-fondo-hover;
        box-shadow: 0 0 10px $color-fondo-hover, 0 0 20px $color-fondo-hover ,0 0 20px $color-fondo-hover;
}

.main {
    margin-top: 250px;
}

.comentario{
    background-color: $color-fondo;
    font-size: 25px;
}

.banner{
    background-image:url(../images/banner-img.jpg); 
}

.img-shadow-1{
    -webkit-box-shadow: 0 28px 16px -26px black;
    -moz-box-shadow: 0 28px 16px -26px black;
    box-shadow: 0 28px 16px -26px black;
    }

.img-shadow-1:hover{
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);

    -webkit-box-shadow: 0 58px 36px -56px black;
    -moz-box-shadow: 0 58px 36px -56px black;
    box-shadow: 0 58px 36px -56px black;
}

@media (min-width: 1200px) {
    .container{
        max-width: 100%;
    }
           .main {
            margin-top: 160px;
        }
}

@media only screen and (max-width: 760px){
    .logo{
            font-family:courgette ;
            font-size:50px;
            margin-left: 20px;
        }
 
    nav ul li a{
        flex-direction: column;
        align-items: center;
        align-content: center;
        text-align: center;
        padding: 0;
        font-size: 30px;
        color: black;
    }
}